/* HomePage.css */
.home-page {
  display: flex;
}

.left-bar,
.right-bar {
  width: 50px; /* Adjust the width of the black bars as needed */
  background-color: black;
}

.content {
  flex: 1; /* Take up remaining space */
  padding: 20px;
}
